.dropdown-menu {
    // width: 200px;
    position: absolute;
    top: 1.9vw;
    left: 9vw;
    list-style: none;
    text-align: start;
    // height: 45px;
}

.dropdown-menu li{
    background-color: white;
    cursor: pointer;
    position: relative;
    right: 125px;
    top: 10px;
}

.dropdown-menu li:hover{
    background: #F8F8F8;
}

.dropdown-menu.clicked{
    display: none;
    background-color: lightgray;
}

.dropdown-link{
    display: block;
    width: 202px;
    height: 30px;
    text-decoration: none;
    color: black;
    padding: 9px;
    position: relative;

}

.session-btn{
    width: 220px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.logsigninColumn{
    position: relative;
    height: 50px;
    color: black;
}

.session-text{
    position: relative;
    left: 10px;
    top: 10px;

}

.header-group{
    background-color: lightblue;
    height: 200px;
    position: relative;
    right: 125px;
    width: 220px;

}

.header-group li{
  position: relative;
  left: 0px;
  padding: 11px;
  top: -1px;
  color: black;
}

.lineDropdown{
  width: 220px;
  border-bottom: 1px solid lightgray;
  position: relative;
  left: -10px;
  top: -10px;
}

.lineLogout{
    position: relative;
    border-bottom: 1px solid lightgray;
    width: 220px;
    left: -11px;
    top: 10px;

}

