.dropdown-menu {
    width: 200px;
    position: absolute;
    top: 50px;
    list-style: none;
    text-align: start;
    height: 45px;
}

.dropdown-menu li{
    background-color: white;
    cursor: pointer;
    position: relative;
    right: 125px;
    top: 10px;
}

.dropdown-menu li:hover{
    background: #F8F8F8;
}

.dropdown-menu.clicked{
    display: none;
    background-color: lightgray;
}

.dropdown-link{
    display: block;
    width: 202px;
    height: 30px;
    text-decoration: none;
    color: black;
    padding: 9px;
    position: relative;

}

.session-btn{
    width: 220px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.logsigninColumn{
    position: relative;
    height: 50px;
    color: black;
}

.session-text{
    position: relative;
    left: 10px;
    top: 10px;

}