.dropdown-menu {
    // width: 200px;
    position: absolute;
    top: 2.5vw;
    // left: 3vh;
    right: 0.8vw;
    list-style: none;
    text-align: start;
    // height: 45px;
}

.dropdown-menu li{
    background-color: white;
    cursor: pointer;
    position: relative;
}


.dropdown-menu li:hover{
    background: #F8F8F8;
}

.dropdown-menu.clicked{
    display: none;
    background-color: lightgray;
}

.dropdown-link{
    display: block;
    width: 204px;
    height: 30px;
    text-decoration: none;
    color: black;
    padding: 9px;
    position: relative;
}

.session-btn{
    width: 222px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.logsigninColumn{
    position: relative;
    height: 50px;
    color: black;
}

.session-text{
    position: relative;
    left: 10px;
    top: 10px;

}

.header-group{
    background-color: lightblue;
    height: 200px;
    position: relative;
    right: 125px;
    width: 220px;
}

.header-group li{
  position: relative;
  left: 0px;
  padding: 11px;
  top: -1px;
  color: black;
}

.lineDropdown{
  width: 225px;
  border-bottom: 1px solid lightgray;
  position: relative;
  left: -10px;
  top: -10px;
}

.lineLogout{
    position: relative;
    border-bottom: 1px solid lightgray;
    width: 220px;
    left: -11px;
    top: 10px;
}

@media (max-width: 900px){
  
.dropdown-menu {
    position: absolute;
    top: 20vw;
    right: 10vw;
    list-style: none;
    text-align: start;
    border: 1px solid green;
    width: 20vw;
}

.session-btn{
    width: 14.8vw;
    height: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

}

.dropdown-link{
    display: block;
    width: 5.4vw;
    height: 2vw;
    text-decoration: none;
    color: black;
    padding: 9px;
    position: relative;
    border: 1px solid black;
}

.session-loginBtn, .session-signupBtn{
    border: 1px solid red;
    width: 15vw;
    height: 3vw;
    position: relative;
    bottom: 15vw;
    left: 14vw;
}

.logsigninColumn{
    position: relative;
    height: 3vw;
    color: black;
}

.lineDropdown{
  width: 10vw;
//   border-bottom: 1px solid lightgray;
  position: relative;
  left: -10px;
  top: -10px;
}

.lineLogout{
    position: relative;
    border-bottom: 1px solid lightgray;
    width: 10vw;
    left: -11px;
    top: 10px;
}

.session-text{
    position: relative;
    font-size: 2vw;
    left: 4vw;
    bottom: 105%;

}




}