

.explore{
    display: flex;
    position: relative;
    top: 32vw;
    left: 9vw;
    height: 18vw;
    width: 90vw;
    flex-wrap: wrap;
}


.city-images{
    width: 70px;
    height: 70px;
    border-radius: 25%;
    object-fit: cover;
}

.image-detail{
    display: flex;
    width: 320px;
    align-items: center;

}

.city-detail{
    position: relative;
    left: 15px;
}

h3{
    font-size: 16px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    color: #484848;
}

.detail-text{
    color: black;
    position: relative;
    top: 5px;
    font-size: 14px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}



