.homepage {
  width: 100%;
  background-image: image-url("final-background.png");
  background-repeat: no-repeat;
  background-size: cover;
   background-position: 50% 55%;
  height: 42vw;
}


.allcity-home{
  position: relative;

}

.nearby-explore{
    position: relative;
    font-size: 1.5vw;
    font-weight: 500;
    width: 20vw;
    top: 31vw;
    left: 9vw;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

// .explore-home{
//   position: relative;
//   left: 3vw;
// }