.listing-plus-map{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 50px;
}

.listing-list{
    position: relative;
    width: 51%;
    border-top: 1px solid lightgray ;
    bottom: 218px;

}
