.content {
  height: 100%;
}

.login-form-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  position: relative;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.login-input {
  width: 510px;
  font-size: 18px;
  padding: 8px;
  position: relative;
  left: 20px;
  top: 40px;
  border: 0.25px solid lightgray;
  border-bottom: none;
}

.login-form-box {
  border: 1px solid gray;
  width: 570px;
  height: 700px;
  background-color: white;
  position: relative;
  top: -33px;
  border-radius: 18px;
}

.session-submit {
  text-transform: capitalize;
  background-color: #ff385c;
  position: relative;
  top: 60px;
  font-size: 18px;
  color: white;
  border-radius: 10px;
  width: 93%;
  height: 45px;
  left: 20px;
  border: 1px solid #ff385c;
}

.confirmAccount {
  display: flex;
  position: relative;
  left: 20px;
  top: 50px;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-demo,
.github,
.linkedIn {
  position: relative;
  // top: 100px;
  border: 1px solid gray;
  width: 93%;
  height: 45px;
  border-radius: 10px;
  top: 100px;
}

.login-demo:hover,
.github:hover,
.linkedIn:hover {
  border: 2px solid black;
}

.close-x {
  position: relative;
  left: 20px;
  top: 20px;
  font-weight: bold;
  z-index: 1;
}

.welcome {
  position: relative;
  top: 35px;
  left: 20px;
  font-size: 20px;
}

.intro-form {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid lightgray;
  height: 55px;
}

.signupToFill, .loginToFill {
  display: flex;
  flex-direction: column;
}


.loginSignUp {
  position: relative;
  top: 20px;
  left: 240px;
}

.bottom-border {
  position: relative;
  border: 0.25px solid lightgray;
  top: 40px;
  left: 20px;
  width: 528px;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.or-Line {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  top: 80px;
}

.separator {
  border-bottom: 1px solid lightgray;
  position: relative;
  top: 7px;
  left: 0px;
  width: 225px;
  height: 1px;
}

.or {
  color: gray;
  font-size: 15px;
}

.contact-demo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 170px;
  top: 90px;
}

a {
  text-decoration: none;
  color: black;
}

.github,
.linkedIn,
.login-demo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 5px;
}

#github-icon {
  position: relative;
  right: 170px;
  font-size: 20px;
}

#linkedIn-icon {
  position: relative;
  right: 165px;
  font-size: 20px;
}

#users-icon{
  position: relative;
  right: 150px;
  font-size: 20px;
}

.session-errors{
  position: relative;
  left: 230px;
  color: red;
  top: -35px;
  height: 22px;
}

.lineBelowSignIn{
  height: 1px;
  width: 220px;
  position: relative;
  border-bottom: 2px solid lightgray;
  top: 10px;
  right: 125px;
}



