.top{
  border: 1px solid red;
  width: 100%;
  height: 7vw;
  
}

.Nav-Bar {
  display: flex;
  justify-content: space-around;
  border: 1px solid pink;
  align-items: center;
  // position: relative;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid blue;
  color: white;
  font-weight: bold;
  width: 7vw;
  justify-content: space-around;
  height: 3vw;
}

.atbnbNav{
  font-size: 1.2vw;
}

li {
  list-style-type: none;
}

.right-icon {
  display: flex;
  color: grey;
  // font-size: 0.5vw;
  background-color: white;
  border: solid white 1px;
  border-radius: 20px;
  justify-content: space-evenly;
  align-items: center;
  width: 3vw;
  height: 1.7vw;
}

.middle-items {
  display: flex;
  justify-content: space-between;
  border: 1px solid blue;
  width: 25vw;
  position: relative;
  left: 3vw;
}

.right-side {
  display: flex;
  border: 1px solid orange;
  width: 15vw;
  justify-content: space-around;
  // height: 50px;
  align-items: center;
  position: relative;
  // left: 100px;
}

#globe {
  color: white;
  font-size: 1vw;
}

.become_host {
  color: white;
  text-decoration: none;
  font-size: 0.88vw;
}

.nav-links {
  color: white;
  text-decoration: none;
  font-size: 1vw;
}

#airbnb {
  color: white;
  font-size: 1.9vw;
}

.places_to_stay {
  position: relative;
  display: inline-block;
}

.places_to_stay:after {
  content: "";
  height: 2px;
  width: 20%;
  position: absolute;
  background: white;
  left: 50%;
  top: 25px;
}

.experiences,
.online_experiences {
  position: relative;
  padding: 0, 10px;
  display: inline-block;
}

.experiences:after,
.online_experiences:after {
  transform: scale(0, 1);
  /* transition: 0.3s ease; */
  content: "";
  height: 2px;
  position: absolute;
  background: white;
  left: 2px;
  top: 25px;
}

.experiences:hover:after,
.online_experiences:hover:after {
  transform: scale(1, 1);
  width: 8%;
  left: 40%;
  color: lightgrey;
}

#circle-person {
  font-size: 1.4vw;
}

#bars {
  font-size: 0.8vw;
}

.guest-booking {
  background-color: white;
  display: flex;
  width: 46%;
  height: 65px;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 490px;
  top: 40px;
  border-radius: 50px;
}

.detail {
  color: gray;
}

.search {
  background-color: #ff385c;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  left: 135px;
  top: 6px;
}
#search-icon {
  position: relative;
  left: 16px;
  top: 16px;
  color: white;
}

.header {
  font-size: 14px;
  color: black;
}

.detail {
  font-size: 15px;
}

.divider {
  width: 1px;
  height: 25px;
  background-color: gray;
  display: inline-block;
}

.line {
  text-align: left;
}

.location {
  width: 260px;
  height: 63px;
  border-radius: 50px;
  border: 1px solid white;
  position: relative;
  left: 0px;
}

.location:hover,
.check-in:hover,
.check-out:hover,
.guests:hover {
  border: 1px solid #f5f5f5;
  background-color: #f5f5f5;
  transition: all linear;
}

.check-in,
.check-out {
  border: 1px solid white;
  height: 63px;
  width: 170px;
  border-radius: 50px;
}

.guests {
  border-radius: 1px solid white;
  height: 65px;
  width: 274px;
  border-radius: 50px;
  display: flex;
}

.search:hover {
  background-color: #d70466;
}

.describe {
  position: relative;
  left: 30px;
  top: 18px;
}

.logo-city {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 130px;
  font-size: 25px;
  color: white;
  font-weight: bold;
  width: 120px;
  justify-content: space-around;
  height: 50px;
}

#airbnb-city {
  color: #ff385c;
  font-size: 35px;
}

.atbnb-city {
  color: #ff385c;
}

.right-icon-city {
  display: flex;
  color: grey;
  font-size: 20px;
  background-color: white;
  border: solid #dddddd 1px;
  border-radius: 20px;
  justify-content: space-evenly;
  align-items: center;
  width: 70px;
  height: 40px;
}

.guest-city-booking {
  background-color: white;
  border: 1px solid #dddddd;
  display: flex;
  width: 390px;
  height: 45px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.add-guests {
  height: 65px;
  width: 274px;
  // border-radius: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-city {
  background-color: #ff385c;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
  left: 17px;
  top: 0px;
}
#search-icon-city {
  position: relative;
  left: 10px;
  top: 10px;
  color: white;
}

.city-line-one {
  position: relative;
  left: 20px;
}
.city-line-two {
  position: relative;
  left: 55px;
}

.guest-addition {
  position: relative;
  left: 45px;
  color: gray;
  font-size: 14px;
}

.dates-city {
  color: gray;
  position: relative;
  left: 40px;
  font-size: 14px;
}

.add-dates {
  width: 100px;
}

.location-city {
  width: 160px;
}

.city {
  position: relative;
  left: 20px;
  font-size: 14px;
}

.Nav-Bar-City {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: 20px;
}

.become_host_city {
  color: #222222;
  text-decoration: none;
}

#globe-city {
  color: #222222;
  font-size: 20px;
}


.start-search-icon{
  background-color: white;
  border: 1px solid lightgray;
  display: flex;
  width: 300px;
  height: 45px;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
}

.start-search{
  position: relative;
  left: 20px;
}

.search-icon{
  background-color: #ff385c;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
  right: 4px;
  top: 0px;
}

.listing-show-page{
  border-bottom: 1px solid lightgray ;
  height: 90px;
}

