.bkg-SF{
    background-color: white;
    background-size: cover;
    height: 2000px;
    width: 2000px;
}

.nav-city{
    position: fixed;
    top:0;
    left: 30px;
    width: 2000px;
    height: 119px;
    z-index: 1;
    background-color: white;
    border-bottom: 1px solid lightgray ;
}

